__pycache__/


#<RP Default Gitignore Start>
*.pyc
*.bak
*.swh
*.swi
*.swj
*.swk
*.swl
*.swm
*.swn
*.swo
*.swp
*.un~
*.gstmp
*.ipynb_checkpoints
*.DS_Store
#<RP Default Gitignore End>

.frenzy
scratchpad.py
.claude_todo.md
.wake_word_cache
